
.major-dark-btn {
  color: white;
  padding: 25px 30px 25px 30px;
  border-radius: 48px;
  box-shadow: 0 3px 6px #00000029;
  font-family: arial-rounded-mt, serif;
  border: 0;
  background-color: var(--primary-dark-grown);
}

.major-dark-btn:hover {
  background-color: var(--primary-darker-grown);
}

.major-dark {
  background-color: var(--primary-dark-grown);
}

.major-dark-font {
  color: var(--primary-dark-grown);
}
