<div id="container">
  <div id="middle-panel">
    <header id="title-banner" class="hollow-text">
      {{title.toUpperCase()}}
    </header>
    <img alt="Chess Board Banner"
         id="chess-board-img"
         src="/assets/img/chessBoardBanner.png">
    <div id="bottom-panel">
      <button type="button"
              (click)="createGame()" id="create-game-btn"
              class="major-dark-btn">
        Create Game
        <p-progressSpinner id="spinner" [style]="{width: '30px', height: '30px'}" [strokeWidth]="'4px'" ></p-progressSpinner>
      </button>
    </div>
  </div>
</div>



