
:root {
  --primary-light-grown: #EFD6A5;
  --primary-dark-grown: #9D7159;
  --primary-darker-grown: #845c47;
}


html, body {
  height: 100%;
  background-color: var(--primary-light-grown);
}

@font-face {
  font-family: arial-rounded-mt;
  src: url(/assets/font/arial-rounded-mt.ttf);
}

.caret {
  width: 0;
  height: 0;
  display: inline-block;
  border: 10px solid transparent;
}
.caret.down{
  border-top-color: black;
}
.caret.right{
  border-left-color: black;
}
.caret.up{
  border-bottom-color: black;
}
.caret.left{
  border-right-color: black;
}
