@import url(//db.onlinewebfonts.com/c/331ec49c0d78e469c42c1d814dd45838?family=Avenir+Book);

:root {
  --primary-light-grown: #EFD6A5;
  --primary-medium-grown: #AE8A6C;
  --primary-dark-grown: #9D7159;
  --primary-darker-grown: #845c47;
  --primary-darkest-grown: #754436;
}


html, body {
  height: 100%;
  margin: 0;
  background-color: var(--primary-light-grown);
}

@font-face {
  font-family: arial-rounded-mt;
  src: url(/assets/font/arial-rounded-mt.ttf);
}

@font-face {
  font-family: "Avenir Book";
  src: url("//db.onlinewebfonts.com/t/331ec49c0d78e469c42c1d814dd45838.eot");
  src: url("//db.onlinewebfonts.com/t/331ec49c0d78e469c42c1d814dd45838.eot?#iefix")
  format("embedded-opentype"), url("//db.onlinewebfonts.com/t/331ec49c0d78e469c42c1d814dd45838.woff2")
  format("woff2"), url("//db.onlinewebfonts.com/t/331ec49c0d78e469c42c1d814dd45838.woff")
  format("woff"), url("//db.onlinewebfonts.com/t/331ec49c0d78e469c42c1d814dd45838.ttf")
  format("truetype"), url("//db.onlinewebfonts.com/t/331ec49c0d78e469c42c1d814dd45838.svg#Avenir Book")
  format("svg");
}

