#share-the-link-btn {
  font-family: "Avenir Book", serif;
  background-color: var(--primary-medium-grown);
  font-size: 22px;
  color: white;
  padding: 23px 31px 22px 29px;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 19px;
}

#link:active {
  color: var(--primary-dark-grown);
}

#link:hover {
  color: var(--primary-darker-grown);
}

#link {
  color: var(--primary-darkest-grown);
  font-family: "Avenir Book", serif;
  line-height: 20px;
  font-size: 35px;
  margin-left: 10px;
}

#container {
  display: flex;
  align-items: center;
  padding: 20px;
}

.caret {
  width: 0;
  height: 0;
  display: inline-block;
  border: 10px solid transparent;
}


.caret.right {
  border-left-color: var(--primary-medium-grown);
}
