
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-light-grown);
}

#overflow-container {
  display: flex;
  align-items: center;
  position: relative;
}

.hollow-text {
  color: var(--primary-light-grown);
  /*The font's stroke's thickness config is hard-coded*/
  --thick: 5px;  /*Alter this value to adjust the thickness*/
  text-shadow: var(--thick) 0 0 var(--primary-dark-grown),
  calc(0px - var(--thick)) 0 0 var(--primary-dark-grown),
  0 var(--thick) 0 var(--primary-dark-grown),
  0 calc(0px - var(--thick)) 0 var(--primary-dark-grown),
  calc(var(--thick) - 1px) calc(var(--thick) - 1px) var(--primary-dark-grown),
  calc(1px - var(--thick)) calc(1px - var(--thick)) 0 var(--primary-dark-grown),
  calc(var(--thick) - 1px) calc(1px - var(--thick)) 0 var(--primary-dark-grown),
  calc(1px - var(--thick)) calc(var(--thick) - 1px) 0 var(--primary-dark-grown);
  font-weight: bold;
}

#middle-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}

#title-banner {
  margin-top: 0;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18vw;
  font-family: arial-rounded-mt, serif;
  font-weight: bold;
  font-stretch: expanded;
  z-index: 0;
}

#chess-board-img {
  margin-top: 10%;
  width: 100%;
  max-width: 700px;
  z-index: 1;
}

#create-game-btn {
  font-size: 40px;
  z-index: 1;
}

/*RWD Adjustment*/
@media all and (max-width: 1600px) {
  .hollow-text {
    --thick: 4px;
  }
}

@media screen and (max-width: 1000px) {
  #create-game-btn {
    font-size: 30px;
  }
}

@media screen  and (max-width: 950px) {
  .hollow-text {
    --thick: 3px;
  }
}

@media screen and (max-width: 700px) {
  #overflow-container {
    padding-bottom: 60%;
  }
}

